<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%=image_tag @player1.image.url(:thumb) %>
      <br><%= @player1.name %>
    </div>
    <div class="col-sm-4">
      <%=image_tag @player2.image.url(:thumb) %>
      <br><%= @player2.name %>
    </div>
    <div class="col-sm-4">
      <%=image_tag @player3.image.url(:thumb) %>
      <br><%= @player3.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%=image_tag @player4.image.url(:thumb) %>
      <br><%= @player4.name %>
    </div>
    <div class="col-sm-4">
      <%=image_tag @player5.image.url(:thumb) %>
      <br><%= @player5.name %>
    </div>
    <div class="col-sm-4">
      <%=image_tag @player6.image.url(:thumb) %>
      <br><%= @player6.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%=image_tag @player7.image.url(:thumb) %>
      <br><%= @player7.name %>
    </div>
    <div class="col-sm-4">
      <%=image_tag @player8.image.url(:thumb) %>
      <br><%= @player8.name %>
    </div>
    <div class="col-sm-4">
      <%=image_tag @player9.image.url(:thumb) %>
      <br><%= @player9.name %>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <%=image_tag picked_player.image.url(:thumb) %>
  <br><%= picked_player.name %>
</div>
