<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Guess Who!</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <% @players.each do |player| %>
        <div class="col-sm-3" id="<%=player.in_game == true ? "true" : "false"%>">
          <%=image_tag player.image.url(:thumb) %>
          <br><%= player.name %>
        </div>
      <% end %>
    </div>
  </div>
    <div  align="center" id="dashboard">
      <h4>
        <div id="questions"><br>
        <%= link_to "Are you a male?", gender_path %>
        <br>
        <br>
        <br>
        <%= link_to "Are you over 30?", age_path %>
        <br>
        <br>
        <br>
        <%= link_to "Are you British?", nationality_path %>
        <br>
        <br>
        <br>
        <%= link_to "Are you single?", single_path %><br><br>
        </div>
        <div><br>
          Are you...<br><br>
          <%= form_for :games, :remote => true, :method => "get", url: guess_path do |f| %>
          <%= f.select :name, [''] + Player.pluck(:name), :select => '' %><br><br>
          <%= f.submit "Submit"%>
          <% end %><br>
        </div>
        <div id="game-restart"><br>
          <%= link_to "Restart the game", restart_path %><br><br>
        </div>
      </h4>
    </div>
  </div>
</body>
</html>
