<div class="container">
  <div class="row">
    <div class="col-sm-4" id="<%=@player1.in_game == true ? "true" : "false"%>">
      <%=image_tag @player1.image.url(:thumb) %>
      <br><%= @player1.name %>
    </div>
    <div class="col-sm-4" id="<%=@player2.in_game == true ? "true" : "false"%>">
      <%=image_tag @player2.image.url(:thumb) %>
      <br><%= @player2.name %>
    </div>
    <div class="col-sm-4" id="<%=@player3.in_game == true ? "true" : "false"%>">
      <%=image_tag @player3.image.url(:thumb) %>
      <br><%= @player3.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" id="<%=@player4.in_game == true ? "true" : "false"%>">
      <%=image_tag @player4.image.url(:thumb) %>
      <br><%= @player4.name %>
    </div>
    <div class="col-sm-4" id="<%=@player5.in_game == true ? "true" : "false"%>">
      <%=image_tag @player5.image.url(:thumb) %>
      <br><%= @player5.name %>
    </div>
    <div class="col-sm-4" id="<%=@player6.in_game == true ? "true" : "false"%>">
      <%=image_tag @player6.image.url(:thumb) %>
      <br><%= @player6.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" id="<%=@player7.in_game == true ? "true" : "false"%>">
      <%=image_tag @player7.image.url(:thumb) %>
      <br><%= @player7.name %>
    </div>
    <div class="col-sm-4" id="<%=@player8.in_game == true ? "true" : "false"%>">
      <%=image_tag @player8.image.url(:thumb) %>
      <br><%= @player8.name %>
    </div>
    <div class="col-sm-4" id="<%=@player9.in_game == true ? "true" : "false"%>">
      <%=image_tag @player9.image.url(:thumb) %>
      <br><%= @player9.name %>
    </div>
  </div>
</div><br>
<div class="col-sm-12" >
  <%=image_tag @random_player.image.url(:thumb) %>
  <br><%= @random_player.name %>
</div>

<%= link_to "Are you a male?", gender_path %>
<%= link_to "Are you over 30?", age_path %>
